modules = ["cpp-clang14", "nodejs-20", "web"]
run = "./build/AnchovyServer.out"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "./build/AnchovyServer.out"]

[[ports]]
localPort = 3000
externalPort = 80
